#footer
  -load staticfiles
  .container.text-center
    div Copyright © 2016 Compañía de Comercio y Exportación. Todos los derechos reservados. Política de Privacidad
    div
      strong PrimerPeso
      |  Proyecto
      |  creado  bajo la colaboración de Code for America y el Estado Libre Asociado de Puerto Rico
    div
      | Licencia bajo&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT
    div
      a(href='https://github.com/codeforamerica/primerpeso2') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/codeforamerica/primerpeso2/issues') Issues
    div.pr-logo
      a(href='http://pr.gov')
        img(src="{% static 'primerpeso/img/prgov.png' %}")
      a(href='http://codeforamerica.org')
        img(src="{% static 'primerpeso/img/cfa-logo.png' %}")
